<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifpi.hello4662019">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaCelularActivity"
            android:label="Lista de Celulares">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RadioAndCheckActivity">
        </activity>
        <activity
            android:name=".CicloVida2Activity"
            android:parentActivityName=".CicloVida1Activity" />
        <activity android:name=".CicloVida1Activity"></activity>
        <activity android:name=".ImplicitIntentSetAlarmActivity" />
        <activity android:name=".Tela2IntentResultActivity" />
        <activity android:name=".Tela1IntentResultActivity" />
        <activity android:name=".ImplicitIntentActivity" />
        <activity
            android:name=".NotasSituacaoIntentActivity"
            android:parentActivityName=".NotasIntentActivity" />
        <activity android:name=".NotasIntentActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".IMCActivity" />
        <activity android:name=".ContadorActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Tela2Activity" />
    </application>

</manifest>