<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rogermac.applesson2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MsgOutRosaActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ImplicitIntentActivity" />
        <activity android:name=".Tela1ObterEmailActivity" />
        <activity
            android:name=".Tela2ExibirEmailActivity"
            android:parentActivityName=".Tela1ObterEmailActivity" />
        <activity android:name=".Tela1ObterNumerosActivity" />
        <activity android:name=".Tela2CalcularMediaActivity" />
        <activity android:name=".Tela1IMCActivity" />
        <activity android:name=".Tela2IMCActivity" />
        <activity android:name=".Tela2LifecycleActivity"></activity>
        <activity android:name=".Tela3LifecycleActivity" />
        <activity android:name=".Tela1DOJOActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tela2calActivity"></activity>
    </application>

</manifest>